.home {
  height: 100vh;              /* full screen height */
  display: flex;
  justify-content: center;    /* horizontal center */
  align-items: center;        /* vertical center */
  flex-direction: column;     /* text niche-niche aaye */
  text-align: center;
}

.home h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.home p {
  font-size: 18px;
  color: gray;
}